{% extends "base.html" %}

{% load static i18n wagtailcore_tags wagtailimages_tags puput_tags wagtailroutablepage_tags %}

{% block title %}{% if search_term %}{{ search_term }} | {{ blog_page.title }}{% else %}{{ block.super }}{% endif %}{% endblock title %}
{% block meta_title %}{% if search_term %}{% trans 'Entries for' %} {{ search_type }} {{ search_term }}{% else %}{{ block.super }}{% endif %}{% endblock meta_title %}
{% block meta_description %}{% if search_term %}{% trans 'Entries for' %} {{ search_type }} {{ search_term }}{% else %}{{ block.super }}{% endif %}{% endblock meta_description %}


{% block content %}


<div class="nk-header-title nk-header-title-parallax nk-header-title-parallax-opacity bg-white text-dark-1">
    <div class="bg-image">
        <div style="background-image: url('{% static "images/jaffa-soloshot-jumping.jpg" %}');"></div>
    </div>
    <div class="nk-header-table">
        <div class="nk-header-table-cell">
            <div class="container">


                <h1 class="nk-title">The Horse Technology Blog</h1>




            </div>
        </div>
    </div>

</div>
<!-- END: Header Title -->





<div class="container">
    <div class="row equal-height">
        <div class="col-lg-8">
            <div class="nk-gap-4"></div>

            <!-- START: Posts List -->
            <div class="nk-blog-list">

                {% with per_page=blog_page.num_entries_page %}
                    {# 'paginate' tag cannot render dotted variables, so we need to create a context var #}
                    {% paginate per_page entries %}
                    {% if search_term %}
                        <div class="searchTerm">{% trans 'Entries for' %} {{ search_type }} "{{ search_term }}"</div>
                    {% endif %}

                    {% for entry in entries %}


                        <!-- START: Post -->
                        <div class="nk-blog-post">

                            {% if entry.categories.count > 0 %}

                                <div class="nk-post-category">
                                    In  {% categories_list entry.categories %}
                                </div>


                            {% endif %}



                            <h2 class="nk-post-title h3"><a href="{% entry_url entry blog_page %}">{{ entry.title }}</a></h2>


                            {% if entry.header_image %}

                                <a href="blog-single-image.html">

                                    {% image entry.header_image fill-800x240 as header_image %}
                                    <img alt="{{ entry.header_image.title }}" src="{{ header_image.url }}" class="nk-img-stretch">

                                </a>
                            {% endif %}



                            <div class="nk-post-text">
                                {% if entry.excerpt %}
                                    {{ entry.excerpt|richtext }}
                                {% else %}
                                    {{ entry.body|richtext|truncatewords_html:150 }}
                                {% endif %}
                            </div>



                            <div class="nk-post-continue">
                                <a href="{% entry_url entry blog_page %}">{% trans 'Continue reading' %} &raquo; <span class="ion-ios-arrow-thin-right"></span></a>
                            </div>


                            <div class="nk-post-meta">

                                {#                                    <div class="nk-post-meta-right">#}
                                {#                                        <a class="nk-post-comments-count" href="blog-single-image.html#comments"></a>#}
                                {#                                    <span class="nk-action-heart">#}
                                {#                                        <span class="like-icon ion-android-favorite-outline"></span>#}
                                {#                                        <span class="liked-icon ion-android-favorite"></span>#}
                                {#                                        <span class="num">17</span>#}
                                {#                                    </span>#}
                                {#                                    </div>#}
                                <div class="nk-post-date">
                                    {{ entry.date|date:"DATE_FORMAT" }}
                                        <span class="nk-post-by">by  <a href="{% routablepageurl blog_page "entries_by_author" entry.owner.username %}">
                {{ entry.owner.username }}
            </a></span>
                                </div>
                            </div>
                        </div>
                        <!-- END: Post -->


                    {% empty %}
                        <span>{% trans 'No results founds.' %}</span>
                    {% endfor %}

                    <div class="pagination">
                        {% show_paginator %}
                    </div>
                {% endwith %}




            </div>
            <!-- END: Posts List -->

            <div class="nk-gap-4"></div>
        </div>
        <div class="col-lg-4">
            <!--
            START: Sidebar

            Additional Classes:
                .nk-sidebar-left
                .nk-sidebar-right
                .nk-sidebar-sticky
        -->
            <aside class="nk-sidebar nk-sidebar-right">
                <div class="nk-gap-4"></div>
                <div class="nk-widget">
                    <h4 class="nk-widget-title">Search</h4>
                    <div>

                        <form name="search_form" class="nk-form nk-form-style-1" novalidate="novalidate" method="get" action="{% routablepageurl blog_page "entries_search" %}">
                            <div class="input-group">
                                <input type="search" name="q"  class="form-control" placeholder="{% trans 'Search' %}">
                        <span class="nk-input-group-btn">
                                            <button class="nk-btn nk-btn-color-dark-1" type="submit">
                                                <span class="ion-search"></span>
                                            </button>
                                        </span>
                            </div>
                        </form>



                    </div>
                </div>
                <div class="nk-widget">
                    <h4 class="nk-widget-title">About</h4>
                    <div>
                        <p>
                            Exploring innovations in technology to improve the care, training, competition and enjoyment of horses.  And a few comments on my own journey in learning how to train horses, with and without technology.
                        </p>
{#                        <img src="assets/images/signature.png" alt="" class="nk-img-fit">#}
                    </div>
                </div>




                {% if blog_page.display_categories %}
                    <div class="nk-widget">
                        <h4 class="nk-widget-title">{% trans 'Categories' %}</h4>
                        <div>
                            <ul class="nk-widget-categories">
                                {% categories_list %}

                            </ul>
                        </div>
                    </div>
                {% endif %}

                {% if blog_page.display_tags %}
                    <div class="nk-widget">
                        <h4 class="nk-widget-title">{% trans 'Tags' %}</h4>
                        <div>
                            <div class="nk-widget-tags">
                                {% tags_list %}
                            </div>
                        </div>
                    </div>
                {% endif %}




                {% if blog_page.display_popular_entries %}

                    <div class="nk-widget">
                        <h4 class="nk-widget-title">{% trans 'Popular Entries' %}</h4>

                                 {% popular_entries blog_page.num_popular_entries %}


                    </div>

                {% endif %}

                <div class="nk-gap-4"></div>

            </aside>
            <!-- END: Sidebar -->
        </div>
    </div>

</div>




{% endblock content %}
