{% extends "base.html" %}

{% load static i18n wagtailcore_tags wagtailimages_tags puput_tags wagtailroutablepage_tags %}

{% block title %}{% if search_term %}{{ search_term }} | {{ blog_page.title }}{% else %}{{ block.super }}{% endif %}{% endblock title %}
{% block meta_title %}{% if search_term %}{% trans 'Entries for' %} {{ search_type }} {{ search_term }}{% else %}{{ block.super }}{% endif %}{% endblock meta_title %}
{% block meta_description %}{% if search_term %}{% trans 'Entries for' %} {{ search_type }} {{ search_term }}{% else %}{{ block.super }}{% endif %}{% endblock meta_description %}


{% block content %}


    <div class="nk-header-title nk-header-title-parallax nk-header-title-parallax-opacity bg-white text-dark-1">
        <div class="bg-image">
            <div style="background-image: url('{% static "images/jaffa-soloshot-jumping.jpg" %}');"></div>
        </div>
        <div class="nk-header-table">
            <div class="nk-header-table-cell">
                <div class="container">


                    <h1 class="nk-title">The Horse Technology Blog</h1>




                </div>
            </div>
        </div>

    </div>
    <!-- END: Header Title -->





    <div class="container">
        <div class="row equal-height">
            <div class="col-lg-8">
                <div class="nk-gap-4"></div>

                <!-- START: Posts List -->
                <div class="nk-blog-list">

                    {% with per_page=blog_page.num_entries_page %}
                        {# 'paginate' tag cannot render dotted variables, so we need to create a context var #}
                        {% paginate per_page entries %}
                        {% if search_term %}
                            <div class="searchTerm">{% trans 'Entries for' %} {{ search_type }} "{{ search_term }}"</div>
                        {% endif %}

                        {% for entry in entries %}


                            <!-- START: Post -->
                            <div class="nk-blog-post">

                             {% if entry.categories.count > 0 %}

                                <div class="nk-post-category">
                                    In  {% categories_list entry.categories %}
                                </div>




        {% endif %}



                                <h2 class="nk-post-title h3"><a href="{% entry_url entry blog_page %}">{{ entry.title }}</a></h2>


                                {% if entry.header_image %}

                                    <a href="blog-single-image.html">

                                        {% image entry.header_image fill-800x240 as header_image %}
                                        <img alt="{{ entry.header_image.title }}" src="{{ header_image.url }}" class="nk-img-stretch">

                                    </a>
                                {% endif %}



                                <div class="nk-post-text">
                                    {% if entry.excerpt %}
                                        {{ entry.excerpt|richtext }}
                                    {% else %}
                                        {{ entry.body|richtext|truncatewords_html:150 }}
                                    {% endif %}
                                </div>



                                <div class="nk-post-continue">
                                    <a href="{% entry_url entry blog_page %}">{% trans 'Continue reading' %} &raquo; <span class="ion-ios-arrow-thin-right"></span></a>
                                </div>


                                <div class="nk-post-meta">

{#                                    <div class="nk-post-meta-right">#}
{#                                        <a class="nk-post-comments-count" href="blog-single-image.html#comments"></a>#}
{#                                    <span class="nk-action-heart">#}
{#                                        <span class="like-icon ion-android-favorite-outline"></span>#}
{#                                        <span class="liked-icon ion-android-favorite"></span>#}
{#                                        <span class="num">17</span>#}
{#                                    </span>#}
{#                                    </div>#}
                                    <div class="nk-post-date">
                                    {{ entry.date|date:"DATE_FORMAT" }}
                                        <span class="nk-post-by">by  <a href="{% routablepageurl blog_page "entries_by_author" entry.owner.username %}">
                {{ entry.owner.username }}
            </a></span>
                                    </div>
                                </div>
                            </div>
                            <!-- END: Post -->


                        {% empty %}
                            <span>{% trans 'No results founds.' %}</span>
                        {% endfor %}

                        <div class="pagination">
                            {% show_paginator %}
                        </div>
                    {% endwith %}



                    <!-- START: Post -->
                    <div class="nk-blog-post">
                        <div class="nk-post-category">
                            In <a href="#">Lifestyle</a>
                        </div>
                        <h2 class="nk-post-title h3"><a href="blog-single-video.html">Video Blog Post</a></h2>


                        <div class="nk-plain-video" data-video="https://vimeo.com/108018156"></div>



                        <div class="nk-post-text">
                            <p>Mus pulvinar nisl ad nisl nostra conubia facilisi dictum lacus vitae lorem conubia conubia. Primis rhoncus, primis pulvinar. Ligula pharetra nonummy. Eget ultrices gravida enim, class mauris nam maecenas pulvinar senectus.</p>
                            <p>Nunc, eu placerat nisl euismod curae; nam libero sed at facilisis. Elementum eleifend eros sociis sagittis sociis dignissim vehicula pharetra. Felis curae; phasellus conubia. Inceptos est magna. Hac, praesent. Hymenaeos enim.</p>
                            <p>Felis fermentum sit quam volutpat aptent. Feugiat posuere duis potenti inceptos potenti ridiculus ad, dui tristique felis torquent.</p>
                        </div>

                        <div class="nk-post-continue">
                            <a href="blog-single-video.html">Continue Reading <span class="ion-ios-arrow-thin-right"></span></a>
                        </div>


                        <div class="nk-post-meta">
                            <div class="nk-post-meta-right">
                                <a class="nk-post-comments-count" href="blog-single-video.html#comments">7</a>
                                    <span class="nk-action-heart">
                                        <span class="like-icon ion-android-favorite-outline"></span>
                                        <span class="liked-icon ion-android-favorite"></span>
                                        <span class="num">9</span>
                                    </span>
                            </div>
                            <div class="nk-post-date">
                                September 5, 2016
                                <span class="nk-post-by">by <a href="#">nK</a></span>
                            </div>
                        </div>
                    </div>
                    <!-- END: Post -->

                    <!-- START: Post -->
                    <div class="nk-blog-post">
                        <div class="nk-post-category">
                            In <a href="#">Lifestyle</a>
                        </div>
                        <h2 class="nk-post-title h3"><a href="blog-single-quote.html">Blockquote Blog Post</a></h2>


                        <blockquote class="nk-blockquote nk-blockquote-styled">
                            <div class="bg-image op-6" style="background-image: url('assets/images/post-3-mid.jpg');"></div>
                            <a class="nk-blockquote-cont" href="blog-single-quote.html">
                                <div class="nk-blockquote-icon">“</div>
                                <em>The clearest way into the Universe is through a forest wilderness.</em>
                                <div class="nk-blockquote-author">John Muir</div>
                            </a>
                        </blockquote>




                        <div class="nk-post-meta">
                            <div class="nk-post-meta-right">
                                <a class="nk-post-comments-count" href="blog-single-quote.html#comments">7</a>
                                    <span class="nk-action-heart">
                                        <span class="like-icon ion-android-favorite-outline"></span>
                                        <span class="liked-icon ion-android-favorite"></span>
                                        <span class="num">9</span>
                                    </span>
                            </div>
                            <div class="nk-post-date">
                                August 27, 2016
                                <span class="nk-post-by">by <a href="#">nK</a></span>
                            </div>
                        </div>
                    </div>
                    <!-- END: Post -->

                    <!-- START: Post -->
                    <div class="nk-blog-post">
                        <div class="nk-post-category">
                            In <a href="#">Lifestyle</a>
                        </div>
                        <h2 class="nk-post-title h3"><a href="blog-single-audio.html">Audio Blog Post</a></h2>


                        <div class="nk-post-audio">
                            <a href="blog-single-audio.html">
                                <img src="assets/images/post-4-mid.jpg" alt="" class="nk-img-stretch">
                            </a>
                            <div>
                                <div class="nk-audio-plain nk-audio-plain-dark" data-src="assets/mp3/OctoSound-sport.mp3">
                                    <div class="nk-audio-plain-title">
                                        <strong>OctoSound</strong> - Sport
                                        <div class="nk-audio-progress">
                                            <div class="nk-audio-progress-current"></div>
                                        </div>
                                    </div>
                                    <div class="nk-audio-plain-duration">
                                        05:34
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="nk-post-text">
                            <p>Etiam cursus. Leo nulla sapien dignissim magnis taciti rutrum tempus ut. Quam lacinia cras varius nullam non condimentum ut euismod integer. Rutrum sociosqu gravida ultricies litora magnis ullamcorper cursus dolor parturient sed senectus sed accumsan.</p>
                        </div>

                        <div class="nk-post-continue">
                            <a href="blog-single-audio.html">Continue Reading <span class="ion-ios-arrow-thin-right"></span></a>
                        </div>


                        <div class="nk-post-meta">
                            <div class="nk-post-meta-right">
                                <a class="nk-post-comments-count" href="blog-single-audio.html#comments">23</a>
                                    <span class="nk-action-heart">
                                        <span class="like-icon ion-android-favorite-outline"></span>
                                        <span class="liked-icon ion-android-favorite"></span>
                                        <span class="num">46</span>
                                    </span>
                            </div>
                            <div class="nk-post-date">
                                August 14, 2016
                                <span class="nk-post-by">by <a href="#">nK</a></span>
                            </div>
                        </div>
                    </div>
                    <!-- END: Post -->

                    <!-- START: Post -->
                    <div class="nk-blog-post">
                        <div class="nk-post-category">
                            In <a href="#">Lifestyle</a>
                        </div>
                        <h2 class="nk-post-title h3"><a href="blog-single-gallery.html">Gallery Blog Post</a></h2>


                        <div class="nk-carousel-3" data-arrows="true" data-size="1" data-autoplay="8000">
                            <div class="nk-carousel-inner nk-popup-gallery">

                                <div>
                                    <div>
                                        <a href="assets/images/post-5.jpg" class="nk-gallery-item" data-size="1920x1280">
                                            <img src="assets/images/post-5-mid.jpg" alt="">
                                        </a>
                                    </div>
                                </div>

                                <div>
                                    <div>
                                        <a href="assets/images/post-6.jpg" class="nk-gallery-item" data-size="1920x1280">
                                            <img src="assets/images/post-6-mid.jpg" alt="">
                                        </a>
                                    </div>
                                </div>

                                <div>
                                    <div>
                                        <a href="assets/images/post-7.jpg" class="nk-gallery-item" data-size="1920x1280">
                                            <img src="assets/images/post-7-mid.jpg" alt="">
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>



                        <div class="nk-post-text">
                            <p>Dictumst eu integer, luctus rutrum ut. Sociis mus integer ultrices velit volutpat ultrices semper volutpat tortor tincidunt porttitor lobortis orci odio. Ornare dapibus mollis quis. Nisi, tincidunt aliquam imperdiet blandit porttitor. Mauris senectus elit tellus proin bibendum ligula fames torquent posuere faucibus egestas integer et Sit fames aptent congue Cum. Consectetuer quis. Magnis. Consequat.</p>
                            <p>Euismod, pulvinar. Nonummy amet sociosqu libero dictum aptent nisi lobortis porttitor imperdiet, nunc tristique quisque posuere non torquent duis id sem Mauris fringilla torquent nulla vitae.</p>
                        </div>

                        <div class="nk-post-continue">
                            <a href="blog-single-gallery.html">Continue Reading <span class="ion-ios-arrow-thin-right"></span></a>
                        </div>


                        <div class="nk-post-meta">
                            <div class="nk-post-meta-right">
                                <a class="nk-post-comments-count" href="blog-single-gallery.html#comments">13</a>
                                    <span class="nk-action-heart">
                                        <span class="like-icon ion-android-favorite-outline"></span>
                                        <span class="liked-icon ion-android-favorite"></span>
                                        <span class="num">0</span>
                                    </span>
                            </div>
                            <div class="nk-post-date">
                                Jule 23, 2016
                                <span class="nk-post-by">by <a href="#">nK</a></span>
                            </div>
                        </div>
                    </div>
                    <!-- END: Post -->

                    <!-- START: Post -->
                    <div class="nk-blog-post">
                        <div class="nk-post-category">
                            In <a href="#">Lifestyle</a>
                        </div>
                        <h2 class="nk-post-title h3"><a href="blog-single-standard.html">Standard Blog Post</a></h2>




                        <div class="nk-post-text">
                            <p>Quisque. Molestie purus ridiculus tristique sed consectetuer vestibulum odio, interdum, nostra Sollicitudin lacinia convallis erat risus ante nulla porta hac aliquam luctus sociis aenean facilisi est libero natoque felis, mus laoreet gravida torquent consectetuer, nunc, taciti, dui tincidunt.</p>
                            <p>Dolor dis Class eros dapibus imperdiet lobortis dis consequat habitant sociis posuere est viverra quis natoque luctus fermentum mollis morbi, suspendisse consectetuer senectus adipiscing ridiculus congue metus curae; quam auctor ante blandit hac. Phasellus nisi. Aliquam duis ultrices. Cubilia.</p>
                            <p>Consequat a ad sagittis elit neque quisque. Dolor porta fames nam eget auctor pulvinar odio justo a taciti cursus nisl non malesuada nulla sed. Praesent, nascetur consequat at Posuere ac ultricies ornare gravida duis, fames dui id. A.</p>
                        </div>

                        <div class="nk-post-continue">
                            <a href="blog-single-standard.html">Continue Reading <span class="ion-ios-arrow-thin-right"></span></a>
                        </div>


                        <div class="nk-post-meta">
                            <div class="nk-post-meta-right">
                                <a class="nk-post-comments-count" href="blog-single-standard.html#comments">0</a>
                                    <span class="nk-action-heart">
                                        <span class="like-icon ion-android-favorite-outline"></span>
                                        <span class="liked-icon ion-android-favorite"></span>
                                        <span class="num">78</span>
                                    </span>
                            </div>
                            <div class="nk-post-date">
                                Jule 3, 2016
                                <span class="nk-post-by">by <a href="#">nK</a></span>
                            </div>
                        </div>
                    </div>
                    <!-- END: Post -->


                    <!-- START: Pagination -->
                    <div class="nk-pagination nk-pagination-left">
                        <nav>
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a class="nk-pagination-current" href="#">3</a>
                            <a href="#">4</a>
                            <span>...</span>
                        </nav>
                    </div>
                    <!-- END: Pagination -->
                </div>
                <!-- END: Posts List -->

                <div class="nk-gap-4"></div>
            </div>
            <div class="col-lg-4">
                <!--
                START: Sidebar

                Additional Classes:
                    .nk-sidebar-left
                    .nk-sidebar-right
                    .nk-sidebar-sticky
            -->
                <aside class="nk-sidebar nk-sidebar-right">
                    <div class="nk-gap-4"></div>
                    <div class="nk-widget">
                        <h4 class="nk-widget-title">Search</h4>
                        <div>
                            <form action="#" class="nk-form nk-form-style-1" novalidate="novalidate">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Type something...">
                                        <span class="nk-input-group-btn">
                                            <button class="nk-btn nk-btn-color-dark-1">
                                                <span class="ion-search"></span>
                                            </button>
                                        </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="nk-widget">
                        <h4 class="nk-widget-title">About Us</h4>
                        <div>
                            <p>
                                Bring bring sea fly over day sixth, land said wherein land blessed third seasons I likeness seed sixth god image.
                            </p>
                            <img src="assets/images/signature.png" alt="" class="nk-img-fit">
                        </div>
                    </div>
                    <div class="nk-widget">
                        <h4 class="nk-widget-title">Categories</h4>
                        <div>
                            <ul class="nk-widget-categories">
                                <li>
                                    <a href="#">Business</a>
                                </li>
                                <li>
                                    <a href="#">Live News</a>
                                </li>
                                <li>
                                    <a href="#">Lifestyle</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="nk-widget">
                        <h4 class="nk-widget-title">Tags</h4>
                        <div>
                            <div class="nk-widget-tags">
                                <a href="#">Creative</a>
                                <a href="#">Responsive</a>
                                <a href="#">Design</a>
                                <a href="#">Bootstrap</a>
                                <a href="#">Multi-Concept</a>
                            </div>
                        </div>
                    </div>
                    <div class="nk-widget">
                        <h4 class="nk-widget-title">Recent Posts</h4>
                        <div>

                            <div class="nk-widget-post">
                                <a href="blog-single-image.html" class="nk-image-box-1 nk-post-image">
                                    <img src="assets/images/post-1-sm.jpg" alt="">
                                </a>
                                <h3 class="nk-post-title"><a href="blog-single-image.html">Image Blog Post</a></h3>
                                <div class="nk-post-meta-date">September 18, 2016</div>
                            </div>

                            <div class="nk-widget-post">
                                <a href="blog-single-video.html" class="nk-image-box-1 nk-post-image">
                                    <img src="assets/images/post-2-sm.jpg" alt="">
                                </a>
                                <h3 class="nk-post-title"><a href="blog-single-video.html">Video Blog Post</a></h3>
                                <div class="nk-post-meta-date">September 5, 2016</div>
                            </div>

                            <div class="nk-widget-post">
                                <a href="blog-single-quote.html" class="nk-image-box-1 nk-post-image">
                                    <img src="assets/images/post-3-sm.jpg" alt="">
                                </a>
                                <h3 class="nk-post-title"><a href="blog-single-quote.html">Blockquote Blog Post</a></h3>
                                <div class="nk-post-meta-date">August 27, 2016</div>
                            </div>

                        </div>
                    </div>
                    <div class="nk-widget">
                        <h4 class="nk-widget-title">Our Twitter</h4>
                        <div>
                            <div class="nk-twitter-list" data-twitter-count="2"></div>
                        </div>
                    </div>
                    <div class="nk-gap-4"></div>

                </aside>
                <!-- END: Sidebar -->
            </div>
        </div>

    </div>




{% endblock content %}
