
    <!-- START: Header Title -->
    <!--
Additional Classes:
    .nk-header-title-sm
    .nk-header-title-md
    .nk-header-title-lg
    .nk-header-title-xl
    .nk-header-title-full
    .nk-header-title-parallax
    .nk-header-title-parallax-opacity
-->
    <div class="nk-header-title nk-header-title-parallax nk-header-title-parallax-opacity bg-white text-dark-1">
        <div class="bg-image">
            <div style="background-image: url('{% static "images/image-28.jpg" %}');"></div>
        </div>
        <div class="nk-header-table">
            <div class="nk-header-table-cell">
                <div class="container">


                    <h1 class="nk-title">Blog List</h1>




                </div>
            </div>
        </div>

    </div>
    <!-- END: Header Title -->





    <div class="container">
        <div class="nk-gap-4"></div>

        <!-- START: Posts List -->
        <div class="nk-blog-list">


            <!-- START: Post -->
            <div class="nk-blog-post">

                <div class="row vertical-gap">
                    <div class="col-lg-5">

                        <a href="blog-single-image.html">
                            <img src="{% static "images/post-1-mid.jpg" %}" alt="" class="nk-img-stretch">
                        </a>

                    </div>
                    <div class="col-lg-7">
                        <div class="nk-post-meta nk-post-meta-top pb-0">
                            <div class="nk-post-date nk-post-meta-right">
                                September 18, 2016
                                <span class="nk-post-by">by <a href="#">nK</a></span>
                            </div>
                        </div>
                        <div class="nk-post-category">
                            In <a href="#">Lifestyle</a>
                        </div>
                        <h2 class="nk-post-title h3"><a href="blog-single-image.html">Image Blog Post</a></h2>

                        <div class="nk-post-text">
                            <p>Rhoncus felis phasellus eget elit ipsum litora, mus posuere porta semper fringilla tempor ultricies lacinia nec id torquent hac etiam tempus, porttitor. Suscipit nostra laoreet in pulvinar primis molestie mattis. Lobortis felis.</p>
                        </div>

                        <div class="nk-post-continue text-xs-left">
                            <a href="blog-single-image.html">Continue Reading <span class="ion-ios-arrow-thin-right"></span></a>
                        </div>
                    </div>
                </div>

            </div>
            <!-- END: Post -->

            <!-- START: Post -->
            <div class="nk-blog-post">

                <div class="row vertical-gap">
                    <div class="col-lg-5">

                        <div class="nk-plain-video" data-video="https://vimeo.com/108018156"></div>

                    </div>
                    <div class="col-lg-7">
                        <div class="nk-post-meta nk-post-meta-top pb-0">
                            <div class="nk-post-date nk-post-meta-right">
                                September 5, 2016
                                <span class="nk-post-by">by <a href="#">nK</a></span>
                            </div>
                        </div>
                        <div class="nk-post-category">
                            In <a href="#">Lifestyle</a>
                        </div>
                        <h2 class="nk-post-title h3"><a href="blog-single-video.html">Video Blog Post</a></h2>

                        <div class="nk-post-text">
                            <p>Mus pulvinar nisl ad nisl nostra conubia facilisi dictum lacus vitae lorem conubia conubia. Primis rhoncus, primis pulvinar. Ligula pharetra nonummy. Eget ultrices gravida enim, class mauris nam maecenas pulvinar senectus.</p>
                        </div>

                        <div class="nk-post-continue text-xs-left">
                            <a href="blog-single-video.html">Continue Reading <span class="ion-ios-arrow-thin-right"></span></a>
                        </div>
                    </div>
                </div>

            </div>
            <!-- END: Post -->

            <!-- START: Post -->
            <div class="nk-blog-post">

                <div class="nk-post-meta nk-post-meta-top pb-0">
                    <div class="nk-post-date nk-post-meta-right">
                        August 27, 2016
                        <span class="nk-post-by">by <a href="#">nK</a></span>
                    </div>
                </div>
                <div class="nk-post-category">
                    In <a href="#">Lifestyle</a>
                </div>
                <h2 class="nk-post-title h3"><a href="blog-single-quote.html">Blockquote Blog Post</a></h2>

                <blockquote class="nk-blockquote nk-blockquote-styled">
                    <div class="bg-image op-6" style="background-image: url('{% static "images/post-3-mid.jpg" %}');"></div>
                    <a class="nk-blockquote-cont" href="blog-single-quote.html">
                        <div class="nk-blockquote-icon">“</div>
                        <em>The clearest way into the Universe is through a forest wilderness.</em>
                        <div class="nk-blockquote-author">John Muir</div>
                    </a>
                </blockquote>

            </div>
            <!-- END: Post -->

            <!-- START: Post -->
            <div class="nk-blog-post">

                <div class="row vertical-gap">
                    <div class="col-lg-5">

                        <div class="nk-post-audio">
                            <a href="blog-single-audio.html">
                                <img src="{% static "images/post-4-mid.jpg" %}"alt="" class="nk-img-stretch">
                            </a>
                            <div>
                                <div class="nk-audio-plain nk-audio-plain-dark" data-src="assets/mp3/OctoSound-sport.mp3">
                                    <div class="nk-audio-plain-title">
                                        <strong>OctoSound</strong> - Sport
                                        <div class="nk-audio-progress">
                                            <div class="nk-audio-progress-current"></div>
                                        </div>
                                    </div>
                                    <div class="nk-audio-plain-duration">
                                        05:34
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-7">
                        <div class="nk-post-meta nk-post-meta-top pb-0">
                            <div class="nk-post-date nk-post-meta-right">
                                August 14, 2016
                                <span class="nk-post-by">by <a href="#">nK</a></span>
                            </div>
                        </div>
                        <div class="nk-post-category">
                            In <a href="#">Lifestyle</a>
                        </div>
                        <h2 class="nk-post-title h3"><a href="blog-single-audio.html">Audio Blog Post</a></h2>

                        <div class="nk-post-text">
                            <p>Etiam cursus. Leo nulla sapien dignissim magnis taciti rutrum tempus ut. Quam lacinia cras varius nullam non condimentum ut euismod integer. Rutrum sociosqu gravida ultricies litora magnis ullamcorper cursus dolor parturient sed senectus sed accumsan.</p>
                        </div>

                        <div class="nk-post-continue text-xs-left">
                            <a href="blog-single-audio.html">Continue Reading <span class="ion-ios-arrow-thin-right"></span></a>
                        </div>
                    </div>
                </div>

            </div>
            <!-- END: Post -->

            <!-- START: Post -->
            <div class="nk-blog-post">

                <div class="row vertical-gap">
                    <div class="col-lg-5">

                        <div class="nk-carousel-3" data-arrows="true" data-size="1" data-autoplay="8000">
                            <div class="nk-carousel-inner nk-popup-gallery">

                                <div>
                                    <div>
                                        <a href="{% static "images/post-5.jpg" %}"class="nk-gallery-item" data-size="1920x1280">
                                            <img src="{% static "images/post-5-mid.jpg" %}"alt="">
                                        </a>
                                    </div>
                                </div>

                                <div>
                                    <div>
                                        <a href="{% static "images/post-6.jpg" %}"class="nk-gallery-item" data-size="1920x1280">
                                            <img src="{% static "images/post-6-mid.jpg" %}"alt="">
                                        </a>
                                    </div>
                                </div>

                                <div>
                                    <div>
                                        <a href="{% static "images/post-7.jpg" %}"class="nk-gallery-item" data-size="1920x1280">
                                            <img src="{% static "images/post-7-mid.jpg" %}"alt="">
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-lg-7">
                        <div class="nk-post-meta nk-post-meta-top pb-0">
                            <div class="nk-post-date nk-post-meta-right">
                                Jule 23, 2016
                                <span class="nk-post-by">by <a href="#">nK</a></span>
                            </div>
                        </div>
                        <div class="nk-post-category">
                            In <a href="#">Lifestyle</a>
                        </div>
                        <h2 class="nk-post-title h3"><a href="blog-single-gallery.html">Gallery Blog Post</a></h2>

                        <div class="nk-post-text">
                            <p>Dictumst eu integer, luctus rutrum ut. Sociis mus integer ultrices velit volutpat ultrices semper volutpat tortor tincidunt porttitor lobortis orci odio. Ornare dapibus mollis quis. Nisi, tincidunt aliquam imperdiet blandit porttitor. Mauris senectus elit tellus proin.</p>
                        </div>

                        <div class="nk-post-continue text-xs-left">
                            <a href="blog-single-gallery.html">Continue Reading <span class="ion-ios-arrow-thin-right"></span></a>
                        </div>
                    </div>
                </div>

            </div>
            <!-- END: Post -->

            <!-- START: Post -->
            <div class="nk-blog-post">

                <div class="row vertical-gap">
                    <div class="col-lg-5">

                        <a href="blog-single-standard.html">
                            <img src="{% static "images/post-7-mid.jpg" %}"alt="" class="nk-img-stretch">
                        </a>

                    </div>
                    <div class="col-lg-7">
                        <div class="nk-post-meta nk-post-meta-top pb-0">
                            <div class="nk-post-date nk-post-meta-right">
                                Jule 3, 2016
                                <span class="nk-post-by">by <a href="#">nK</a></span>
                            </div>
                        </div>
                        <div class="nk-post-category">
                            In <a href="#">Lifestyle</a>
                        </div>
                        <h2 class="nk-post-title h3"><a href="blog-single-standard.html">Standard Blog Post</a></h2>

                        <div class="nk-post-text">
                            <p>Quisque. Molestie purus ridiculus tristique sed consectetuer vestibulum odio, interdum, nostra Sollicitudin lacinia convallis erat risus ante nulla porta hac aliquam luctus sociis aenean facilisi est libero natoque felis, mus laoreet gravida torquent consectetuer, nunc, taciti, dui tincidunt.</p>
                        </div>

                        <div class="nk-post-continue text-xs-left">
                            <a href="blog-single-standard.html">Continue Reading <span class="ion-ios-arrow-thin-right"></span></a>
                        </div>
                    </div>
                </div>

            </div>
            <!-- END: Post -->


            <!-- START: Pagination -->
            <div class="nk-pagination nk-pagination-left">
                <nav>
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a class="nk-pagination-current" href="#">3</a>
                    <a href="#">4</a>
                    <span>...</span>
                </nav>
            </div>
            <!-- END: Pagination -->
        </div>
        <!-- END: Posts List -->